<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Dashboard - Administrator</title>
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link rel="stylesheet" href="../../resources/template/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../resources/template/bower_components/font-awesome/css/font-awesome.css">
		<link rel="stylesheet" href="../../resources/template/bower_components/Ionicons/css/ionicons.css">
		<link rel="stylesheet" href="../../resources/template/bower_components/select2/dist/css/select2.css">
		<link rel="stylesheet" href="../../resources/template/bower_components/datatables.net-bs/css/dataTables.bootstrap.css">
		<link rel="stylesheet" href="../../resources/template/dist/css/AdminLTE.css">
		<link rel="stylesheet" href="../../resources/template/dist/css/skins/skin-yellow.css">
		<link rel="stylesheet" href="../../resources/common/css/style_item.css">
		<link rel="stylesheet" href="../../resources/template/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<!-- Google Font -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
	</head>
	<body class="hold-transition skin-yellow sidebar-mini">
		<div class="wrapper">

			<!-- Main Header -->
			<header class="main-header">

				<!-- Logo -->
				<a href="index.html" class="logo">
					<!-- 좌측 메뉴 최소화 시켰을 경우의 로고 크기 : 50x50 pixels -->
					<span class="logo-mini"><img src="../../resources/common/img/logo_grandmachan_s.png"></span>
					<span class="logo-lg"><img src="../../resources/common/img/logo_grandmachan_l.png"></span>
				</a>

				<!-- Header Navbar -->
				<nav class="navbar navbar-static-top" role="navigation">
					<!-- Sidebar toggle button-->
					<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
						<span class="sr-only">Toggle navigation</span>
					</a>
				</nav>
			</header>
			<!-- 좌측 메뉴 영역-->
			<aside class="main-sidebar">
				<!-- sidebar: style can be found in sidebar.less -->
				<section class="sidebar">
					<div class="user-panel">
						<!--
							사용자 이미지 영역
							<div class="pull-left image">
								<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
							</div>
						-->
						<div class="pull-left info">
							<!-- 사용자 이름 -->
							<b>Administrator</b> 님
						</div>
					</div>

					<!-- Sidebar Menu -->
					<ul class="sidebar-menu" data-widget="tree">
						<li class="header">MENU</li>
						<!-- Optionally, you can add icons to the links -->
						<li><a href="index.html">
							<i class="fa fa-line-chart"></i> <span>통합정보</span></a>
						</li>
						<li class="treeview">
							<a href="#"><i class="fa fa-users"></i> <span>회원관리</span>
								<span class="pull-right-container">
									<i class="fa fa-angle-left pull-right"></i>
								</span>
							</a>
							<ul class="treeview-menu">
								<li><a href="user_mng_cus.html"><i class="fa fa-circle-o"></i>일반사용자</a></li>
								<li><a href="user_mng_lic.html"><i class="fa fa-circle-o"></i>사업자</a></li>
								<!-- <li><a href="user_mng_admin.html"><i class="fa fa-circle-o"></i>관리자</a></li> -->
							</ul>
						</li>
						<li class="treeview">
							<a href="#"><i class="fa fa-krw"></i> <span>포인트관리</span>
								<span class="pull-right-container">
									<i class="fa fa-angle-left pull-right"></i>
								</span>
							</a>
							<ul class="treeview-menu">
								<li><a href="point_mng_list.html"><i class="fa fa-circle-o"></i>포인트목록</a></li>
								<li><a href="point_mng_give.html"><i class="fa fa-circle-o"></i>포인트지급</a></li>
								<li><a href="point_mng_give_bd.html"><i class="fa fa-circle-o"></i>포인트지급내역</a></li>
							</ul>
						</li>
						<li  class="active"><a href="item_mng.html">
							<i class="fa fa-gift"></i> <span>상품추가하기</span></a>
						</li>
						<!-- 	추후  업데이트 예정				
							<li ><a href="#">
								<i class="fa fa-link"></i> <span>세트만들기</span></a>
							</li> 
						-->
						<li class="treeview">
							<a href="#"><i class="fa fa-list"></i> <span>통합게시판</span>
								<span class="pull-right-container">
									<i class="fa fa-angle-left pull-right"></i>
								</span>
							</a>
							<ul class="treeview-menu">
								<li><a href="board_notice.html"><i class="fa fa-circle-o"></i>공지사항</a></li>
								<li><a href="board_question.html"><i class="fa fa-circle-o"></i>자주하는질문</a></li>

							</ul>
						</li>
						<li ><a href="sales_mng.html">
							<i class="fa fa-inbox"></i> <span>매출관리</span></a>
						</li>
						<li ><a href="review_mng.html">
							<i class="fa fa-commenting-o"></i> <span>후기관리</span></a>
						</li>
						<li ><a href="#">
							<i class="fa fa-power-off"></i> <span>로그아웃</span></a>
						</li>
					</ul>
					<!-- /.sidebar-menu -->
				</section>
				<!-- /.sidebar -->
			</aside>

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h4>
						<i class="fa fa-gift"></i> &nbsp;상품추가하기
					</h4>
				</section>

				<!-- Main content -->
				<section class="content container-fluid">
					<div class="content container-fluid area">
						<div class="menu_area">
							<div class="menu_category box-header with-border">
								<b>반찬 분류</b>
							</div>
							<div class="menu_list">
								<ul>
									<li class="active"><a href="#">전체(35)</a></li>
									<li><a href="#">국(2)</a></li>
									<li><a href="#">메인반찬(4)</a></li>
									<li><a href="#">일반반찬(28)</a></li>
									<li><a href="#">기타(1)</a></li>
								</ul>
							</div>
						</div>
						<div class="list_area">
							<table id="menu_list" class="table table-bordered table-striped">
								<thead>
									<th><input type="checkbox" id="all_select"></th>
									<th>대표 이미지</th>
									<th>상품이름</th>
									<th>중량</th>
									<th>가격</th>
								</thead>
								<tbody>
									<tr>
										<td><input type="checkbox" name="one_select"></td>
										<td><img src="../../resources/common/img/logo_grandmachan_s.png" style="width:50px;height:50px;"></td>
										<td>비빔오징어젓갈</td>
										<td>200g</td>
										<td>3,000원</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</section>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->

			<!-- Modal (상품추가) -->
			<div class="modal fade" id="modal-default">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">상품등록</h4>
						</div>
						<form action="#" method="post">
							<div class="modal-body">
								<div class="modal_content">
									<div class="modal_side_area">
										<div class="sub_title">
											<b>상품설정</b>
										</div>
										<div class="item_set">
											<div class="set_area">
												<p>상품이름</p>
												<input type="text" class="form_control" placeholder="상품이름">
											</div>
											<div class="set_area">
												<p>판매가격</p>
												<input type="text" class="form_control" placeholder="판매가격"><br>
												<input type="checkbox" id="dc_check" class="form_control"> 할인가격<br>
												<input type="text" id="dc_pay" class="form_control" placeholder="할인가격" disabled>
											</div>
											<div class="set_area">
												<p>중량</p>
												<input type="text" class="form_control" placeholder="중량(단위 : g)">
											</div>
											<div class="set_area">
												<p>반찬 분류(카테고리)</p>
												<select class="form-control select2" style="width: 100%;">
													<option selected="selected">선택해주세요</option>
													<option>국</option>
													<option>메인반찬</option>
													<option>일반반찬</option>
													<option>기타</option>
												</select>
											</div>
											<div class="set_area">
												<p>세트 분류</p>
												<select class="form-control select2" style="width: 100%;">
													<option selected="selected">선택해주세요</option>
													<option>세트 1</option>
													<option>세트 2</option>
													<option>세트 3</option>
													<option>세트 4</option>
													<option>세트 5</option>
													<option>세트 6</option>
												</select>
											</div>
											<div class="set_area">
												<p>썸네일이미지(최대 3장)</p>
												<div class="img_prev"></div>
												<div class="upload">
													<button class="upload_btn"></button>
													<input type="file" id="upload_img" multiple>
												</div>
											</div>
											<div class="set_area">
												<p>이벤트 표시</p>
												<select class="form-control select2" multiple="multiple" data-placeholder="선택해주세요" style="width: 100%;">
													<option>이벤트 1</option>
													<option>이벤트 2</option>
													<option>이벤트 3</option>
													<option>이벤트 4</option>
												</select>
											</div>
										</div>
									</div>
									<div class="modal_area">
										<div class="sub_title">
											<b>상세설명</b>
										</div>
										<div class="item_editor">
											<div class="box-body pad">
												<form>
													<textarea class="textarea" placeholder="자유롭게 작성하세요." style="width: 100%; height: 580px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default pull-left" data-dismiss="modal">취소</button>
								<button type="button" class="btn btn-primary">확인</button>
							</div>
						</form>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->

			<!--Footer -->
			<footer class="main-footer">
				<!-- 
					Copyright 우측 문구
					<div class="pull-right hidden-xs">
					Anything you want
					</div> 
				-->
				<!-- Default to the left -->
				<strong>Copyright &copy; 2016 <a href="http://www.grandmachan.com">GrandMachan</a>.</strong> All rights reserved.
			</footer>
		</div>
		<!-- ./wrapper -->

		<!-- REQUIRED JS SCRIPTS -->
		<!-- jQuery 3 -->
		<script src="../../resources/template/bower_components/jquery/dist/jquery.min.js"></script>
		<!-- Bootstrap 3.3.7 -->
		<script src="../../resources/template/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- AdminLTE App -->
		<script src="../../resources/template/dist/js/adminlte.min.js"></script>
		<!-- Select2 -->
		<script src="../../resources/template/bower_components/select2/dist/js/select2.full.js"></script>
		<!-- Datatables.js -->
		<script src="../../resources/template/bower_components/datatables.net/js/jquery.dataTables.js"></script>
		<script src="../../resources/template/bower_components/datatables.net-bs/js/dataTables.bootstrap.js"></script>
		<script src="../../resources/common/js/table_item.js"></script>
		<!-- Bootstrap3-wisihtml5 -->
		<script src="../../resources/template/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
		<script src="../../resources/common/js/plugin_item.js"></script>
		<!-- Optionally, you can add Slimscroll and FastClick plugins.
		Both of these plugins are recommended to enhance the
		user experience. -->
	</body>
</html>