.area{
	border-top-style:solid;
	border-top-color:#ffdd00;
	background-color: #FFFFFF;
	border-radius: 10px;
	margin-top:15px;
	padding-top:5px;
	float:none;
}

.form_title{
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#f4f4f4;
}

.form_title h4{
	font-weight:700;
}

.form_section{
	margin-top : 15px;
}

.form_section input[type=text]{
	width:50%;
	margin-left:10px;
}

.form_section p{
	font-weight:700;
}