.area{
	border-top-style:solid;
	border-top-color:#ffdd00;
	background-color: #FFFFFF;
	border-radius: 10px;
	margin-top:15px;
	padding-top:20px;
	float:none;
}

.menu_area{
	width:150px;
	float:left;
}

.menu_category{
	width:100%;
	float:left;
	text-align: right;
	clear:both;
}

.menu_category b{
	font-size:18px;
}

.menu_list{
	width:100%;
	text-align:right;
	clear:both;
	padding-top: 20px
}

.menu_list ul{
	list-style-type: none;
}

.menu_list ul > li{
	margin-top:20px;
}

.list_area{
	width:85%;
	margin-left:40px;
	float:left;
}

.data_toolbar{
	width:450px;
	margin-left:15px;
	float:left;
}

.data_count{
	width:100px;
	float:left;
	margin-top:1px;
}

.data_search{
	width:420px;
	float:right;
	margin-right:15px;
}

.select_box{
	width:180px;
	float:left;
	clear:both;
}

.area .data_info{
	width:6%;
	float:left;
	margin-left:15px;
}

@media(max-width:1555px){
	.menu_area{
		display:none;
	}

	.data_toolbar{
		width:300px;
	}
}

@media(max-width:1135px){
	.data_search{
		margin-left:15px;
		float:left;
	}
}

@media(max-width:770px){
	.data_toolbar{
		margin-left:2px;
	}
}

.modal_content{
	height:700px;
	clear:none;
}

.modal_content .modal_side_area{
	float:left;
	width:20%;
}

.modal_side_area .item_set{
	width:100%;
	float:left;
}

.modal_side_area input[type="text"]{
	width:100%;
}

.modal_side_area .item_set .set_area{
	width:100%;
	margin-top:15px;
	clear:none;
}

.modal_side_area .item_set .set_area p{
	font-size:15px;
}

.modal_side_area .item_set .set_area input[type="checkbox"]{
	margin-top:10px;
	margin-bottom:10px;
}

.modal_content .modal_area{
	float:right;
	width:75%;
}

.modal_content .modal_area .item_editor{
	float:left;
	width:100%;
}

.sub_title{
	text-align: center;
	clear:none;
	margin-bottom: 30px;
}

.sub_title b{
	font-weight:700px;
	font-size:18px;
}

.upload{
	margin:5px;
}

.upload_btn{
	margin-top:3px;
	position:absolute;
	background:url(../img/upload_icon.png) no-repeat;
	border:none;
	width:50px;
	height:50px;
}

#upload_img{
	width:50px;
	height:50px;
	opacity: 0;
	position:relative;
}

.img_prev{
	float:left;
	margin-left:5px;
}

.img_prev img{
	margin-right:10px;
}

@media(min-width:768px){
	.modal-dialog{
		width:85%;
		margin:30px auto 30px auto;
	}
}